* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.heading {
    border: thin solid black;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(13, 121, 49);
    color: white;
}

input[type="text"],
h1 {
    margin: 20px;
    padding: 10px;
    display: grid;
    place-items: center;
}

form * {
    margin: 20px;
}

ul {
    margin: 20px;
    list-style-type: none;
}

li {
    display: flex;
    justify-content: space-between;
    border: thin solid darkblue;
    padding: 10px;
    margin: 5px;
}

li:hover {
    color: rgb(8, 138, 57);
    border-color: rgb(8, 138, 57);
}

#submit {
    padding: 5px;
    background-color: rgb(8, 138, 57);
    border: thin solid white;
}